<% if flash[:notice] || flash[:alert] %>
<div class='flash'><%= flash[:notice] || flash[:alert] %></div>
<h1> Todos </h1>

<% @todos.each do |todo| %>
  <p> <%= todo.message %> </p>
<% end %>

<%= form_for(@todo) do |f| %>
  <%= f.label :message %>
  <%= f.text_field :message %>
  <%= f.submit %>
<% end %>
